.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 0 auto;
    grid-row-gap: 50px;
}

@media screen and (max-width: 576px) {
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
@media screen  and (min-width: 577px) and (max-width:992px) {
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}